@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {animation: fade-in 1.5s ease-out;}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 799;
}

#splash-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 0;
}

#splash-content {
  width: 80vw;
  margin-bottom: 3rem;
  z-index: 1;
}

#splash-content > * {
  margin-bottom: 1.2rem;
}

#splash-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

#splash-body {
  line-height: 1.4;
}

#splash-cta {
  border: none;
  background-color: white;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 700;
  margin: 2.4rem 0 0;
}

#splash-cta:active {
  background-color: #c9c9c9;
  transform: scale(0.99);
}

#splash-footer {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

#splash-logo {
  height: 1rem;
}
